<nav class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand"><img src="assets/Logo.svg" alt="crash"></a>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        
        <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><button class="nav_btn" id="about_btn" (click)="to_about()">О нас</button></li>
                <li><button class="nav_btn" id="reviews_btn" (click)="to_reviews()">Отзывы</button></li>
                <li><button class="nav_btn" id="chat_bot_btn" (click)="to_chat_bot()">Чат-Бот</button></li>
                <li><button class="nav_btn" id="enter_btn">Вход</button></li>
            </ul>
        </div>
    </div>
</nav>
